<a ui-sref="orderManageList"
    hide show-gt-sm
    class="md-button md-text-icon-button"
    ng-class="{ active: menu.state.is('orderManageList') || menu.state.is('orderManageDetail') }">
    <i class="material-icons">local_shipping</i>
    {{ 'ORDERMAN.LABEL' | translate }}
</a>

<a ui-sref="orderManageList"
    hide-gt-sm
    class="md-button md-icon-button"
    ng-class="{ active: menu.state.is('orderManageList') || menu.state.is('orderManageDetail') }">
    <i class="material-icons">local_shipping</i>
</a>