<section>
    
    <header class="section-header">
        <a ui-sref="orderList" class="md-button md-icon-button md-raised"><i class="material-icons">arrow_back</i></a>
        <h1>{{ odCtrl.data.title }}</h1>
    </header>
    
    <div class="order-details">
        
        <div class="order-details--items">
            <h3 class="extra-padding">Order items:</h3>
            <table class="order-details--list">
                <thead>
                    <tr>
                        <th>Item ref. code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in odCtrl.data.itemRefCodes">
                        <td>
                            {{ item }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="order-details--data extra-padding">
            <dl>
                <dt>Order</dt>
                <dd>{{ odCtrl.data.title }}</dd>
                <dt>Order status</dt>
                <dd>{{ odCtrl.data.orderStatus }}</dd>
                <dt>Origin</dt>
                <dd>{{ odCtrl.data.origin }}</dd>
                <dt>Assignee</dt>
                <dd>{{ odCtrl.data.assignee }}</dd>
                <dt>Order date</dt>
                <dd>{{ odCtrl.data.orderDate }}</dd>
                <dt>Planned date</dt>
                <dd>{{ odCtrl.data.plannedDate }}</dd>
                <dt>User ID</dt>
                <dd>
                    {{ odCtrl.data.endUserId }}
                </dd>
            </dl>
        </div>
        
    </div>
    
</section>