<section>
    
    <header class="section-header">
        <h1>Order management</h1>
    </header>
    
    <div>
        
        <table class="order-list">
            <thead>
                <tr>
                    <th ng-click="olCtrl.sortThis('title')">Title</th>
                    <th ng-click="olCtrl.sortThis('orderStatus')">Order status</th>
                    <th ng-click="olCtrl.sortThis('origin')">Origin</th>
                    <th ng-click="olCtrl.sortThis('orderDate')">Order date</th>
                    <th ng-click="olCtrl.sortThis('plannedDate')">Planned date</th>
                    <th ng-click="olCtrl.sortThis('endUser.firstname')">From user</th>
                    <th ng-click="olCtrl.sortThis('assignee')">Assignee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in olCtrl.data | orderBy: olCtrl.orderBy" class="clickable-row" ng-click="olCtrl.orderDetailGo(order.orderId)">
                    <td>
                        <strong>{{ order.title }}</strong>
                    </td>
                    <td>
                        <span class="status-{{ order.orderStatus }}">
                            {{ order.orderStatus }}
                        </span>
                    </td>
                    <td>
                        {{ order.orgin }}
                    </td>
                    <td>
                        {{ order.orderDate }}
                    </td>
                    <td>
                        {{ order.plannedDate }}
                    </td>
                    <td>
                        {{ order.endUser.firstname }} {{ order.endUser.lastname }}
                    </td>
                    <td>
                        {{ order.assignee }}
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
</section>
