<md-toolbar class="md-hue-2 order-header">
    <div class="md-toolbar-tools">
        
        <a ui-sref="orderSearch"
            class="md-button md-text-icon-button"
            ng-class="{ active: ordCtrl.state.is('orderSearch') || sctrl.state.is('advSearch') }">
            <i class="material-icons">search</i>
            Search & order
        </a>
        
        <a ui-sref="orderBrowse"
            class="md-button md-text-icon-button"
            ng-class="{ active: ordCtrl.state.is('orderBrowse') }">
            <i class="material-icons">file_download</i>
            {{ 'USER.MENU.MY_ORDERS' | translate }}
        </a>

    </div>
</md-toolbar>