<section>
    
    <header class="section-header">
        <a ui-sref="orderBrowse" class="md-button md-icon-button md-raised"><i class="material-icons">arrow_back</i></a>
        <h1>{{ oddCtrl.data.title }}</h1>
    </header>
    
    <div class="order-details">
        
        <div class="order-details--items">
            <h3 class="extra-padding">Order items:</h3>
            <table class="simple-list order-details--list">
                <thead>
                    <tr>
                        <th>Package ID</th>
                        <th>Title</th>
                        <th>Ref. code</th>
                        <th>Content type</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in oddCtrl.data.items">
                        <td>
                            {{ item.packageId }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.refCode }}
                        </td>
                        <td>
                            {{ item.contentType }}
                            <img class="md-avatar" ng-src="app/assets/images/filetypes/{{item.thumbnail}}" alt="">
                        </td>
                        <td>
                            {{ item.displaySize }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="order-details--data extra-padding">
            <dl>
                <dt>Order</dt>
                <dd>{{ oddCtrl.data.title }}</dd>
                <dt>Order status</dt>
                <dd>{{oddCtrl.data.orderStatus}}</dd>
                <dt>Order ID</dt>
                <dd>{{ oddCtrl.data.orderId }}</dd>
                <dt>Assignee Archivist</dt>
                <dd>{{ oddCtrl.assignee }}</dd>
                <dt>Ordered date</dt>
                <dd>{{ oddCtrl.data.orderDate }}</dd>
                <dt>Planned delivery date</dt>
                <dd>{{ oddCtrl.data.plannedDate }}</dd>
                <dt>Preferred delivery method</dt>
                <dd>{{ oddCtrl.data.preferredDeliveryMethod }}</dd>
                <dt>User to issue order</dt>
                <dd>
                    {{ oddCtrl.data.endUser.firstname }} {{ oddCtrl.data.endUser.lastname }}<br>
                    <a href="mailto:{{ oddCtrl.data.endUser.email }}">{{ oddCtrl.data.endUser.email }}</a>
                </dd>
            </dl>
        </div>
        
    </div>
    
</section>