<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        
        <a ui-sref="orderBrowse" class="md-button md-icon-button md-raised">
            <i class="material-icons">arrow_back</i>
        </a>
        
        <span>
            <span class="muted">{{ 'ORDER.ORDERS.DETAILS' | translate }}:</span>
            {{ oddCtrl.data.title }}
        </span>
        
        <span flex></span>

    </div>
</md-toolbar>

<section class="order-details" layout="row" flex>
        
    <div layout="column" layout-padding class="order-details--items" flex="66">
        
        <h3 class="md-subhead">{{ 'ORDER.ORDERS.ITEMS' | translate }}:</h3>
        
        <md-card>
            <md-card-content style="overflow: auto;">
                <div class="simple-list">
                    <div class="simple-list__header">
                        <div layout="row">
                            <div flex="20" class="muted" layout-padding>
                                {{ 'ORDER.ORDERS.PACK_ID' | translate }}
                            </div>
                            <div flex="20" class="muted" layout-padding>
                                {{ 'COMMON.TITLE' | translate }}
                            </div>
                            <div flex="20" class="muted" layout-padding>
                                {{ 'ORDER.ORDERS.REF_CODE' | translate }}
                            </div>
                            <div flex="20" class="muted" layout-padding>
                                {{ 'ORDER.ORDERS.CONTENT_TYPE' | translate }}
                            </div>
                            <div flex="20" class="muted" layout-padding>
                                {{ 'COMMON.SIZE' | translate }}
                            </div>
                        </div>
                    </div>
                    <md-list class="simple-list__body md-dense">
                        <md-list-item ng-repeat="item in oddCtrl.data.items"
                            layout="row"
                            class="simple-list__body__item">
                                <div flex="20" class="simple-list__cell muted">
                                    {{ item.packageId }}
                                </div>
                                <div flex="20" class="simple-list__cell">
                                    {{ item.title }}
                                </div>
                                <div flex="20" class="simple-list__cell muted">
                                    {{ item.refCode }}
                                </div>
                                <div flex="20" class="simple-list__cell muted">
                                    {{ item.contentType }}
                                    <img ng-src="app/assets/images/filetypes/{{item.thumbnail}}" alt="">
                                </div>
                                <div flex="20" class="simple-list__cell muted">
                                    {{ item.displaySize }}
                                </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
        </md-card>
        
    </div>
    
    <div layout-padding class="order-details__data" flex="33">
        <dl>
            <dt>{{ 'ORDER.TITLE.ORDER' | translate }}</dt>
            <dd>{{ oddCtrl.data.title }}</dd>
            <dt>{{ 'ORDER.ORDERS.STATUS' | translate }}</dt>
            <dd>{{oddCtrl.data.orderStatus}}</dd>
            <dt>{{ 'ORDER.ORDERS.ORDER_ID' | translate }}</dt>
            <dd>{{ oddCtrl.data.orderId }}</dd>
            <dt>{{ 'ORDER.ORDERS.ARCH_ASSIGNED' | translate }}</dt>
            <dd>{{ oddCtrl.assignee }}</dd>
            <dt>{{ 'ORDER.ORDERS.ORDER_DATE' | translate }}</dt>
            <dd>{{ oddCtrl.data.orderDate }}</dd>
            <dt>{{ 'ORDER.ORDERS.PLAN_DELIVER_DATE' | translate }}</dt>
            <dd>{{ oddCtrl.data.plannedDate }}</dd>
            <dt>{{ 'ORDER.LABEL.PREFERRED_DELIVERY_METHOD' | translate }}</dt>
            <dd>{{ oddCtrl.data.preferredDeliveryMethod }}</dd>
            <dt>{{ 'ORDER.ORDERS.ISSUED_BY_USER' | translate }}</dt>
            <dd>
                {{ oddCtrl.data.endUser.firstname }} {{ oddCtrl.data.endUser.lastname }}<br>
                <a href="mailto:{{ oddCtrl.data.endUser.email }}">{{ oddCtrl.data.endUser.email }}</a>
            </dd>
        </dl>
    </div>
    
</section>