<ng-include src="'app/src/order/view/header.html'"></ng-include>

<section layout="column">

    <div class="search-input--container">
        <form>
            <md-input-container md-no-float>
                <label>{{ 'SEARCH.SEARCH' | translate }}</label>
                <i class="material-icons"
                   style="position:absolute;top:0.25rem;left:0.5rem;color:rgba(0, 0, 0, 0.25)">search</i>
                <input
                    type="text"
                    ng-model="ordCtrl.searchTerm"
                    placeholder="Search keyword"
                    dl-enter-key="ordCtrl.executeSearch();"
                    style="padding:0.5rem 0.5rem 0.5rem 2rem">
            </md-input-container>        
        </form>
        <p>
            Search files and documents for order.
        </p>
        <md-button ng-hide="ordCtrl.advSearchIsVisible"
            ng-click="ordCtrl.advSearchIsVisible = !ordCtrl.advSearchIsVisible">
            More search options
        </md-button>
        <div id="adv-search" ng-show="ordCtrl.advSearchIsVisible">
            And, or, not, *
        </div>
    </div>
    
    <div ng-show="ordCtrl.searchResults.documents"
        class="search-input-2"
        layout="row"
        layout-align="space-between center"
        layout-padding>
        <form>
            <i class="material-icons">search</i>
            <input type="text"
                ng-model="ordCtrl.searchTerm"
                placeholder="Search keyword"
                dl-enter-key="ordCtrl.executeSearch();">
        </form>
        <span flex></span>
        <a ui-sref="orderBasket"
            class="md-button md-text-icon-button md-raised md-primary">
            <i class="material-icons">shopping_basket</i>
            {{ 'ORDER.TITLE.BASKET' | translate }}
        </a>
    </div>

    <div class="search__list">
        <table class="simple-list" ng-show="ordCtrl.searchResults.documents">
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="ordCtrl.sortThis($event, 'thumbnail')">
                            {{ "COMMON.TYPE" | translate }}
                            <i ng-show="ordCtrl.orderBy === '-thumbnail'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="ordCtrl.orderBy === 'thumbnail'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                    </th>
                    <th style="vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="ordCtrl.sortThis($event, 'title')">
                            {{ "COMMON.TITLE" | translate }}
                            <i ng-show="ordCtrl.orderBy === '-title'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="ordCtrl.orderBy === 'title'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                        <form>
                            <input
                                ng-model="ordCtrl.filterBy.title"
                                type="text"
                                placeholder="Filter by title">
                        </form>
                    </th>
                    <th style="vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="ordCtrl.sortThis($event, 'packageId')">
                            {{ "COMMON.PACKAGE_ID" | translate }}
                            <i ng-show="ordCtrl.orderBy === '-packageId'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="ordCtrl.orderBy === 'packageId'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                        <form>
                            <input
                                ng-model="ordCtrl.filterBy.packageId"
                                type="text"
                                placeholder="Filter by package ID">
                        </form>
                    </th>
                    <th class="muted" style="text-align: center; vertical-align: bottom;">Add to basket</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ordCtrl.searchResults.documents | filter: ordCtrl.filterBy | orderBy: ordCtrl.orderBy">
                    <td style="text-align: center">
                        <img class="md-avatar" ng-src="app/assets/images/filetypes/{{item.thumbnail}}" alt="">
                    </td>
                    <td>
                        {{ item.title }} <small class="muted">{{item.displaySize}}</small>
                    </td>
                    <td>
                        {{ item.packageId }}
                    </td>
                    <td style="text-align: center;">
                        <md-checkbox
                            ng-change="ordCtrl.addToBasket(item)"
                            ng-true-value="'add'"
                            ng-false-value="'delete'"
                            ng-model="item.baskOp"
                            aria-label="Add {{ item.title }} to basket">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
