<section class="extra-padding" layout="column">

    <div class="search-input--container">
        <md-input-container md-no-float>
            <label>{{ 'SEARCH.SEARCH' | translate }}</label>
            <i class="material-icons"
               style="position:absolute;top:0.25rem;left:0.5rem;color:rgba(0, 0, 0, 0.25)">search</i>
            <input
                type="text"
                ng-model="ordCtrl.searchTerm"
                placeholder="{{ 'SEARCH.SEARCH' | translate }}"
                dl-enter-key="ordCtrl.executeSearch();"
                style="padding:0.5rem 0.5rem 0.5rem 2rem">
        </md-input-container>
    </div>
    <!--
    <div>
        <order-basket basket="ordCtrl.basket"
                      pre-process="true"
                      pre-process-function="ordCtrl.compileOrder(orderData)"
                      items-list="ordCtrl.searchResults.documents"></order-basket>
    </div>
    -->

    <div flex class="search__list">
        <table class="simple-list" ng-show="ordCtrl.searchResults.documents">
            <thead>
                <tr>
                    <th>{{ "COMMON.TYPE" | translate }}</th>
                    <th>{{ "COMMON.TITLE" | translate }}</th>
                    <th>{{ "COMMON.DESCRIPTION" | translate }}</th>
                    <th>{{ "COMMON.PACKAGE_ID" | translate }}</th>
                    <th style="text-align: center;">Add to basket</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ordCtrl.searchResults.documents">
                    <td>
                        <img class="md-avatar" ng-src="app/assets/images/filetypes/{{item.thumbnail}}" alt="">
                    </td>
                    <td>
                        <span class="text-muted">{{ item.title }} ({{item.displaySize}})</span>
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        <span class="text-muted">{{ item.packageId }}</span>
                    </td>
                    <td style="text-align: center;">
                        <md-checkbox
                            ng-change="ordCtrl.addToBasket(item)"
                            ng-true-value="'add'"
                            ng-false-value="'delete'"
                            ng-model="item.baskOp"
                            aria-label="Add {{ item.title }} to basket">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</section>
