<md-toolbar>
    <div class="md-toolbar-tools">
        
        <img src="./app/assets/images/logos/e-ark-text.svg" alt="E-Ark" style="height: 50%; margin-right: 8px;">
        <h1 class="md-title" hide-xs style="margin-right: 16px;">{{ 'HEADER.TITLE' | translate }}</h1>
        
        <nav class="menu-items"
            ng-controller="ModulesMenuController as menu"
            layout="row"
            layout-align="flex-start center">
            <div ng-repeat="item in menu.items | orderBy: 'order'">
                <ng-include src="item.templateUrl"></ng-include>
            </div>
        </nav>
        
        <span flex></span>
        
        <language-selector></language-selector>

        <md-menu ng-controller="AuthController as vm" md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="{{ 'HEADER.SHOW_MENU' | translate }}"
                       ng-click="$mdOpenMenu($event)">
                <i class="material-icons">person</i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button class="md-text-icon-button" ng-disabled="true">
                        <i class="material-icons" md-menu-align-target>person</i>
                        {{ vm.getUserInfo().user.firstname }} {{ vm.getUserInfo().user.lastname }}
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button class="md-text-icon-button"
                        id="logout"
                        ng-click="vm.logout()">
                        <i class="material-icons">exit_to_app</i>
                        {{ 'HEADER.LOGOUT' | translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-toolbar>

<error-msg></error-msg>
