<md-toolbar>
    <div class="md-toolbar-tools">
        
        <md-button class="md-icon-button" aria-label="menu" ng-click="vm.openMenu()">
            <i class="material-icons">menu</i>
        </md-button>
      
        <h1>
            <span>Some application toolbar</span>
        </h1>
      
        <span flex></span>
        
        <md-menu ng-controller="AuthController as vm" md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="{{ 'MENU.OPEN_MENU' | translate }}" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">person</i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-disabled="true">
                        <i class="material-icons" md-menu-align-target>person</i>
                        {{ vm.getUserInfo().user.firstName }} {{ vm.getUserInfo().user.lastName }}
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button id="logout" ng-click="vm.logout()">
                        <i class="material-icons">exit_to_app</i>
                        {{ 'MENU.LOGOUT' | translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        
        <a class="md-icon-button" href="#/search/">
            <i class="material-icons">search</i>
        </a>
        
    </div>
</md-toolbar>

<md-sidenav md-component-id="left" class="md-sidenav-left">

    <md-list>
        <md-list-item>
            <md-button ui-sref="dashboard" ng-class="{active: toState == 'dashboard'}">{{ 'COMMON.HOME' | translate }}</md-button>
        </md-list-item>
        <md-divier></md-divier>
    </md-list>

</md-sidenav>
