<md-toolbar>
    <div class="md-toolbar-tools">
        
        <div>
            <span>E-Ark tools</span>
        </div>
        
        <nav ng-controller="ModulesMenuController as menu" class="nav-tabs">
            <div class="nav-tabs--tab" ng-repeat="item in menu.items | orderBy: 'order'">
                <ng-include src="item.templateUrl"></ng-include>
            </div>
        </nav>
        
        <span flex></span>

        <md-menu ng-controller="AuthController as vm" md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="{{ 'MENU.OPEN_MENU' | translate }}"
                       ng-click="$mdOpenMenu($event)">
                <i class="material-icons">person</i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button class="md-text-icon-button" ng-disabled="true">
                        <i class="material-icons" md-menu-align-target>person</i>
                        {{ vm.getUserInfo().user.firstname }} {{ vm.getUserInfo().user.lastname }}
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button class="md-text-icon-button" id="logout" ng-click="vm.logout()">
                        <i class="material-icons">exit_to_app</i>
                        {{ 'MENU.LOGOUT' | translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <language-selector></language-selector>
    </div>
</md-toolbar>
