<ng-include src="'app/src/order/view/header.html'"></ng-include>

<section layout="column"
    layout-align="start center"
    style="overflow: auto;"
    flex>
    
    <h1 class="md-headline">
        <i class="material-icons">search</i>
        Advanced search
    </h1>
    
    <form ng-submit="sctrl.executeSearch()">
        
        <div ng-repeat="input in sctrl.searchInputs">
            <select ng-model="input.operator"
                ng-hide="$index === 0">
                <option>OR</option>
                <option>AND</option>
                <option>NOT</option>
            </select>
            <input type="text"
                ng-model="input.term"
                placeholder="Keyword">
            <md-button ng-click="sctrl.removeInput(input)"
                ng-hide="$index === 0">
                <i class="material-icons">remove</i>
            </md-button>
        </div>
        
        <md-button class="md-text-icon-button"
            ng-click="sctrl.addInput()">
            <i class="material-icons">add</i>
            Add keyword
        </md-button>
        <br>
        <input type="submit" class="md-button md-primary md-raised" value="Search">
        {{ sctrl.searchStr }}
    </form>
    
    <div class="search__list"
        ng-show="sctrl.searchResults.documents"
        layout="column">
        <div class="simple-list"
            layout="column">
            <div class="simple-list__header">
                <div layout="row">
                    <div flex="10" style="text-align: center; vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="sctrl.sortThis($event, 'thumbnail')">
                            {{ "COMMON.TYPE" | translate }}
                            <i ng-show="sctrl.orderBy === '-thumbnail'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="sctrl.orderBy === 'thumbnail'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                    </div>
                    <div flex style="vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="sctrl.sortThis($event, 'title')">
                            {{ "COMMON.TITLE" | translate }}
                            <i ng-show="sctrl.orderBy === '-title'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="sctrl.orderBy === 'title'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                        <form>
                            <input
                                ng-model="sctrl.filterBy.title"
                                type="text"
                                placeholder="Filter by title"
                                style="margin-bottom: 8px;">
                        </form>
                    </div>
                    <div flex style="vertical-align: top;">
                        <md-button
                            class="md-text-icon-button md-primary"
                            ng-click="sctrl.sortThis($event, 'packageId')">
                            {{ "COMMON.PACKAGE_ID" | translate }}
                            <i ng-show="sctrl.orderBy === '-packageId'" class="material-icons">arrow_drop_up</i>
                            <i ng-show="sctrl.orderBy === 'packageId'" class="material-icons">arrow_drop_down</i>
                        </md-button>
                        <form>
                            <input
                                ng-model="sctrl.filterBy.packageId"
                                type="text"
                                placeholder="Filter by package ID"
                                style="margin-bottom: 8px;">
                        </form>
                    </div>
                    <div flex="10"
                        class="muted"
                        layout="column"
                        layout-align="end center"
                        layout-padding>
                        <span>Add to basket</span>
                    </div>
                </div>
            </div>
            <md-list class="simple-list__body md-dense" style="overflow: initial;">
                <md-list-item ng-repeat="item in sctrl.searchResults.documents | filter: sctrl.filterBy | orderBy: sctrl.orderBy"
                    layout="row"
                    class="simple-list__body__item">
                    <div flex="10" style="text-align: center" class="simple-list__cell">
                        <img ng-src="app/assets/images/filetypes/{{item.thumbnail}}" alt="">
                    </div>
                    <div flex class="simple-list__cell">
                        {{ item.title }} <small class="muted">{{item.displaySize}}</small>
                    </div>
                    <div flex class="simple-list__cell">
                        {{ item.packageId }}
                    </div>
                    <div flex="10"
                        layout="column"
                        layout-align="center center"
                         class="simple-list__cell">
                        <md-checkbox
                            ng-change="ordCtrl.addToBasket(item)"
                            ng-true-value="'add'"
                            ng-false-value="'delete'"
                            ng-model="item.baskOp"
                            aria-label="Add {{ item.title }} to basket">
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>

</section>
