<md-dialog class="dialog-large">
    <form name="bdc.orderForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'APP.LABEL.BASKET' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" id="basket-dialog-content">
                <div layout>
                    <div layout="row" layout-align="space-between">
                        <md-input-container>
                            <label>{{ 'COMMON.TITLE' | translate }}</label>
                            <input type="text" name="orderTitle" ng-model="bdc.orderForm.order.title" required md-autofocus>
                        </md-input-container>

                        <md-datepicker ng-model="bdc.orderForm.order.plannedDate"
                                       md-placeholder="{{ 'ORDER.LABEL.PLANNED_DATE' | translate }}"></md-datepicker>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>{{ 'ORDER.LABEL.USER_NOTES' | translate }}</label>
                        <textarea ng-model="bdc.orderForm.order.endUserOrderNote" rows="5" columns="3"></textarea>
                    </md-input-container>
                </div>
                <br>
                <div class="tlist">
                    <div class="tlist__header" layout="row">
                        <div class="tlist__cell tlist__cardview__hide icon" flex="none"></div>
                        <div class="tlist__cell" flex>
                            <div layout="row" layout-align="space-between center">
                            <span sort-table="title">
                                <h4>{{ 'COMMON.TITLE' | translate }}</h4>
                            </span>
                            </div>
                        </div>
                        <div class="tlist__cell"><h4>{{ 'COMMON.REMOVE' | translate }}</h4></div>
                    </div>
                    <md-virtual-repeat-container class="tlist__body" flex-height>
                        <div md-virtual-repeat="document in basket" class="tlist__item" layout="column" flex>
                            <div class="tlist__item__link" layout="row">
                            <span class="tlist__cell tlist__cell__fileicon tlist__cardview__hide" flex="none">
                                <img class="md-avatar" ng-src="app/assets/images/filetypes/{{document.thumbnail}}"/>
                            </span>
                            <span class="tlist__cell" flex>
                                {{ document.title}}
                            </span>
                            <span class="tlist__cell muted tlist__cell__menu" flex="10">
                                <md-button class="md-icon-button" ng-click="removeItem(document)">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </span>
                            </div>
                        </div>
                    </md-virtual-repeat-container>

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-click="submitMethod(bdc.orderForm.order);">
                <i class="material-icons ng-scope">send</i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>