.section-header {
    background-color: #eee;
    padding: $u;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    h1 {
        font-size: 1.5em;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
}

.order-list,
.order-details--list {
    border-collapse: collapse;
    width: 100%;
    
    th {
        padding: $u*0.5 $u;
        text-align: left;
    }
    td {
        border-top: solid 1px #eee;
        padding: $u*0.5 $u;
    }
}

.order-list {
    margin: $u 0;
}

.order-details {
    display: flex;
    flex-flow: row nowrap;
}

.order-details--data {
    flex: 1;
    border-left: solid 1px #eee;
    padding: $u $u*2;
}

.order-details--items {
    flex: 2;
}

.status-new,
.status-open,
.status-closed {
    padding: $u*0.25 $u*0.5;
    color: #fff;
    border-radius: $u*0.1;
    font-size: 0.9em;
}
.status-new {
    background-color: #3c3;
}
.status-open {
    background-color: #690;
}
.status-closed {
    color: $muted-color;
    background-color: #eee;
}
