.section-header {
    background-color: $background-color;
    padding: $u;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    h1 {
        font-size: 1.5em;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
}

.order-list {
    margin: $u 0;
}

.status-error,
.status-new,
.status-open,
.status-submitted,
.status-processing,
.status-packaging,
.status-indexing,
.status-untarring,
.status-ready {
    padding: $u*0.25 $u*0.5;
    color: #fff;
    border-radius: $u*0.1;
    font-size: 0.9em;
}
.status-error {
    background-color: #e00000;
}
.status-new {
    background-color: #E0BF18;
}
.status-open {
    background-color: #247FAD;
}
.status-submitted {
    background-color: #9D24AD;
}
.status-processing {
    @extend .muted;
    background-color: #ff6d1f;
}
.status-packaging {
    @extend .muted;
    background-color: #7e7e7e;
}
.status-ready {
    background-color: #30da1d;
}
.status-indexing {
    background-color: #CC5719;
}
.status-untarring {
    background-color: #994113;
}
