.lang-selector {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 0.5rem;
}

.lang-selector__label {
    padding-right: 0.25rem;
    
    .material-icons {
        vertical-align: middle;
    }
}

.lang-selector__input {
    font-size: 1rem;
}