/*
 * Header styles
 */

.order-header {
    
    a.md-button,
    a.md-button:link,
    a.md-button:visited {
        color: #fff;
    }
    .active {
        background-color: rgba(255,255,255,0.2);
    }
}


/*
 * Search styles
 */


.search__header {
    margin: 8px 16px;
    padding: 0;
    font-size: 1.3em;
}

.search__list {
    background-color: #fff;
}

.search__item-case,
.search__item-document {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    padding: 16px 24px;
    border-top: solid 1px $background-color;
}

.search__item__info {
    height: 100%;
    flex-grow: 1;
}

.search__item__icon {
    width: auto;
    margin-right: 8px;
    height: 100%;
}

.search__item__title {
    font-weight: 400;
    margin: 0;
    font-size: 1.1em;
}

.search__item__title .muted {
    font-size: 0.8em;
}

.search__item__bonusinfo {
    float: right;
    width: auto;
}

.search__item__desc {
    margin: 0;
}

.search__item__changed {
    float: right;
    width: auto;
    font-size: 0.8em;
}


/*
 * Order details page
 */

.order-details {
    overflow: auto;
}

.order-details__data {
    background-color: #fff;
}


#adv-search {
    overflow: auto;
}

.adv-search__primary-input {
    padding: 8px; margin: 0 0 0 8px;
    width: $u*20;
    max-width: 75%;
}

.adv-search__primary-input_results {
    width: $u*12;
}

.adv-search__filter-form {
    margin: 0 8px 8px;
}

.adv-search__filter-form__filter {
    width: 100%;
    box-sizing: border-box;
}


/*
 * Media queries for bigger screens
 */ 

@media screen and (min-width: 960px) {
    
    #adv-search {
        overflow: initial;
    }
    
    .adv-search__form {
        flex: 1 0 auto;
        padding: 0 8px;
        
        &.minimize {
            flex: 0 1 auto;
        }
    }
    
    .adv-search__list {
        justify-content: flex-start;
        
        .simple-list__body {
            overflow: auto !important;
        }
    }
    
    .adv-search__secondary-input {
        width: 9em;
    }
    
    .order-details__items md-card-content {
        overflow: auto;
    }
    
    .order-details__data {
        overflow: auto;
    }
    
}