<script type="text/ng-template" id="nodes_renderer.html">
    <a ui-sref="ipviewer({ path: key, orderStatus: orderstatus })" class="iptree__node__handle">
        <i class="material-icons">folder</i>
        <span>{{ key }}</span>
    </a>
    <ol class="iptree__nodes">
        <ng-repeat ng-repeat="item in value.children">
            <li ng-repeat="(key, value) in item"
                ng-include="'nodes_renderer.html'"
                class="iptree__node">
            </li>
        </ng-repeat>
    </ol>
</script>

<div ng-controller="IpFileTreeController as ftc" class="iptree">
    <ol class="iptree__nodes iptree__nodes_root">
        <li ng-repeat="(key, value) in ftc.tree"
            ng-include="'nodes_renderer.html'"
            class="iptree__node">
        </li>
    </ol>
</div>
