<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        
        <a ui-sref="ipview.ip({ name: ipfc.ipName, path:})" class="md-button md-icon-button md-raised">
            <i class="material-icons">arrow_back</i>
        </a>
        
        <span>
            File contents
        </span>
        
        <span flex></span>

    </div>
</md-toolbar>

<section class="ipview-file"
    layout-gt-sm="row"
    layout-padding
    flex>
    
    <h1>Some file stuff</h1>
    {{ ipfc.data.download_url }}
    {{ ipfc.data.preview_url }}
    
</section>
