<section class="ipview-file" flex layout-fill>

    <div>
        <md-button ng-click="ipfc.download()"
                   class="md-text-icon-button"
                   aria-label="{{ 'ERMS_REPOS.VIEW_META' | translate }}">
            <i class="material-icons">file_download</i>
            <span>{{ 'COMMON.DOWNLOAD' | translate }}</span>
        </md-button>
    </div>

    <div>
        <iframe name="preview_frame" class="ipview-file__iframe" ng-src="{{ ipfc.previewUrl }}"></iframe>
    </div>

</section>
