<div layout="column">
   
    <div layout="row" layout-align="start center" layout-padding>
        <h1 class="md-title muted">Browse DIPs available to you</h1>
    </div>
    
    <div layout="column" layout-padding>
        <div class="ip-list" layout="row" layout-wrap>
        
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">IP title 1</span>
                        <span class="md-subhead muted">Meta-info: seflisheflihse</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="ipview.ip">Browse</md-button>
                </md-card-actions>
            </md-card>
           
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">IP title 2</span>
                        <span class="md-subhead muted">Meta-info: seflisheflihse</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="ipview.ip">Browse</md-button>
                </md-card-actions>
            </md-card>
           
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">IP title 3</span>
                        <span class="md-subhead muted">Meta-info: seflisheflihse</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="ipview.ip">Browse</md-button>
                </md-card-actions>
            </md-card>

        </div>
    </div>

</div>